body
{
    display: flex;
    allign-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
}

canvas
{
    border: 1px solid #FFFFFF;
    background-color: #000000;
}